<link rel="stylesheet" href="select2/select2.css" type="text/css">
<link rel="stylesheet" href="styles/index.css" type="text/css">
<script type="text/javascript" src="select2/select2.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<div class="container offset2" style="margin-top: 20px">
  <div class="row">
    <form id="serch_moves" class="form-horizontal" role="form"> 
     <div class="form-group">
        <div class="col-sm-offset-5 col-sm-1">
          <input id="clear" class="btn btn-danger" type="button" value="クリア"/>
        </div>
     </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">キャラ名</label>
        <div class="col-sm-4">
          <input id="character" class="form-control select" name="character" type="text" value="吉光">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">技名</label>
        <div class="col-sm-3">
          <input id="name" class="form-control" name="name" type="text">
        </div>
        <label class="col-sm-1 control-label">を含む</label>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1"">
          <div class="checkbox">
            <label>判定
              <input id="detectionFlag" type="checkbox" value="1" checked/>
            </label>
          </div>
        </div>
        <fieldset id="detectionSelectSet">
          <div class="form-group">
            <div class="col-sm-3">
              <select id="detection" name="detection" class="form-control">
                <option value="0">上段</option>
                <option value="1">中段</option>
                <option value="2">下段</option>
                <option value="3">特殊</option>
                <option value="4">ガ不</option>
                <option value="5">投げ</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">ガード</label>
        <div class="col-sm-4">
          <div id="frameRadio" class="btn-group">
            <button type="button" class="btn btn-default radio" value="eq">一致</button>
            <button type="button" class="btn btn-default radio" value="gt">以上</button>
            <button type="button" class="btn btn-default active radio" value="lt">以下</button>
            <button type="button" class="btn btn-default disabled radio" value="range">範囲</button>
          </div>
        </div>
        <input id="frameType" type="hidden" value="lt"/>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <input id="_guard_min" name="_guard_min" class="form-control col-sm-1 frame" type="number" value="-14"/>
          <label>&nbsp;〜&nbsp;</label>
          <input id="_guard_max" name="_guard_max" class="form-control frame" type="number" disabled/>
        </div>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2">
      <input id="search" class="btn btn-primary" type="button" value="検索"/>
    </div>
  </div>
    </form>
    <table id="moveListTable" class="table">
      <thead>
        <th>キャラ名</th><th>名前</th><th>コマンド</th><th>判定</th><th>ダメージ</th><th>発生</th><th>ガード</th><th>ヒット</th><th>CH</th>
      </thead>
      <tbody id="moveList">
      </tbody>
    </table>
  </div>
</div>
